<body>
    <h1>Student Info:</h1>

    {{#each student}}
    <p>Student ID: {{studId}} </p>
    <br>

    <p>Name: {{name}} </p>
    <br>

    <p>Program: {{program}} </p>
    <br>

    <p>GPA: {{gpa}} </p>
    <br>
    {{/each}}
</body>