<body>
    <h1>Student Info:</h1>

    <p>Student ID: {{student.studId}} </p>
    <br>

    <p>Name: {{student.name}} </p>
    <br>

    <p>Program: {{student.program}} </p>
    <br>

    <p>GPA: {{student.gpa}} </p>
    <br>
</body>